:root {
  --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
  --DesaturatedDarkBlue: hsl(214, 17%, 51%);
  --GrayishBlue: hsl(212, 23%, 69%);
  --LightGrayishBlue: hsl(210, 46%, 95%);
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('../../../public/fonts/Manrope/Manrope-VariableFont_wght.ttf') format('truetype');
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  font-family: 'Manrope', serif;
  color: var(--VeryDarkGrayishBlue);
  background-color: var(--LightGrayishBlue);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1000px) {
  body {
    margin: 10px 0 0 0;
    height: initial;
  }
}
