.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-self: flex-end;
}
.footer a{
    color: var(--VeryDarkGrayishBlue);
    scale: 1;
    transition: scale 0.2s ease;
}
.footer a:visited{
    color: var(--DesaturatedDarkBlue)
}
.footer a:visited{
    color: var(--GrayishBlue)
}
.footer a:hover{
    scale: 1.2;
}
@media (max-width: 1000px) {
    .footer a:focus{
        scale: 1.2;
    }
}