.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 950px;
  height: 370px;
  background-color: white;
  border-radius: 13px;
  box-shadow: -10px 10px 90px rgba(20, 20, 80, 0.2);
}
@media (max-width: 1000px) {
  .container {
    width: 90%;
    height: 85%;
    flex-direction: column;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
  }
}
